[2015-08-24 12:15] regit opened #1 "Disable offloading on sniffing iface"
The start script should be upgraded to take care of offloading on sniffing iface.

[2015-12-02 20:15] mgaulton opened #3 "Kibana Init issue?"
I just installed  and am getting the below when I connect to Kibana. I also noticed a few "this will be depreacated messages". Wondering what I need to do to update/resolve this?

Configure an index pattern
In order to use Kibana you must configure at least one index pattern. Index patterns are used to identify the Elasticsearch index to run search and analytics against. They are also used to conf

[2015-12-02 20:29] regit commented on #3
Hello

For logstash you can edit $AMSTERDAM_DIR/config/logstash/logstash.conf and restart amsterdam to see if issue is fixed. When done, it would be great if you could do a PR by reporting your changes to src/config/logstash/logstash.conf.

For kibana I don't understand when do you see this message. There is no setup done in amsterdam so any message should be a stock message.

[2015-12-02 20:32] mgaulton commented on #3
I'll take a look at the logstash.

Soon as I load the kibana page, i get it.
http://localhost:5601/app/kibana#/settings/indices/?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))

[2015-12-02 20:36] regit commented on #3
Which Amsterdam version do you use ?

[2015-12-02 20:41] mgaulton commented on #3
fresh install from the repo

[2015-12-03 05:03] mgaulton opened #5 "Kibana dashboards"
I'm trying to load https://github.com/pevma/Suricata-Logstash-Templates/ into the docker, but i'm not sure where the dashboards are stored. Can you point me at the right spot? I tried importing through the web interface but its not accepting them for some reason.

Thanks.

[2015-12-03 10:01] pevma commented on #5
Those are  Kibana 3 templates - they are not compatible with Kibana 4  - that is part of Amsterdam

[2015-12-03 17:03] mgaulton commented on #5
ahh. Thank you. I missed that detail.

[2015-12-03 17:06] mgaulton commented on #5
Any chance of updated versions? :)

[2015-12-03 17:08] pevma commented on #5
Yes work in progress.
Any help/ideas/contribution is much appreciated and welcome as well.

[2015-12-03 19:16] mgaulton commented on #5
Sadly, i'm very new to ELK and such. But i'll help if i can!

[2015-12-03 19:26] pevma commented on #5
No worries - there are many ways you can help - testing is one of them for example.

[2015-12-13 23:51] mgaulton commented on #5
Ideas i'm toying with
-bro integration
-honeypot integrations
-trace of an event across suricata/bro/honeypot for full picture of the event.

[2015-12-26 11:35] bladeswords opened #7 "Suricata can't start due to missing file"
Suricata fails to start and supervisor states too many failed attempts to start suricata.

The following were the steps I took to fix the issue (missing file).  If I have time I will make a pull request.

/usr/bin/suricata -T /etc/suricata/suricata.yaml
26/12/2015 -- 21:26:03 - <Info> - Running suricata under test mode
26/12/2015 -- 21:26:03 - <Notice> - This is Suricata version 3.0RC3 RELEASE
26/

[2015-12-26 16:43] ravens opened #9 "Scirius not starting due to missing +x"
Hi,

On a fresh ubuntu 14.04, I had to add a statement in the Dockerfile:
"RUN chmod ugo+x /opt/selks/bin/scirius.sh" to force execution right on scirius entrypoint script - otherwise container will not start with error "System error: exec: "/opt/selks/bin/scirius.sh": permission denied".

[diff.txt](https://github.com/StamusNetworks/Amsterdam/files/72478/diff.txt)

[2015-12-26 17:31] regit commented on #7
Thanks for the report @bladeswords but missing threshold.config is not a fatal error for suricata. So if suricata is not starting in your case there may be another issue.

[2015-12-26 17:36] regit commented on #9
Merci @ravens :) Patch applied but I've made a stupid typo on you nickname. Sorry for that.

[2015-12-26 17:36] #9 closed

[2016-01-07 15:18] inliniac opened #10 "check for docker-compose"
If docker-compose is missing from the system 'amsterdam' doesn't give a clear error message. It would help new users to give a clean warning in such cases.

[2016-01-07 15:25] regit opened #11 "Amsterdam won't start if path contains utf-8"
All is in the subject.

[2016-01-11 20:08] regit commented on #11
To reproduce:
- create directory with accentuation
- export LANG=C
- from that directory run setup
- then run start

[2016-01-11 20:32] regit commented on #11
Traceback is:

[code]

[2016-01-11 21:02] #10 closed

[2016-01-11 21:02] #11 closed

[2016-01-11 21:43] #1 closed

[2016-01-18 18:11] NoahJaehnert commented on #5
+1 - I'm interested in using Kibana4 dashboards as well. Any updates on this?

[2016-01-18 18:17] pevma commented on #5
Hopefully within 2 weeks we will push some new dashboards (cc @regit  )

[2016-02-10 15:51] arr0n opened #12 "change command: option in docker-compose.yml"
i was wondering if it would make sense for you to change the command option in the docker-compose file.  How it is currently configured means expanding logstash to take other inputs is difficult.  A small change from:
'command:  -f /etc/logstash/logstash.conf'
to
'command: /opt/logstash/bin/logstash -f /etc/logstash/conf.d/'
and of course changing the setup script to place the logstash.conf in the

[2016-02-10 16:10] regit commented on #12
It really make sense. Feel free to propose a pull request with that. You just need to update the src/template/docker-compose template.

[2016-02-10 16:12] arr0n commented on #12
Will do, i'm about to finish up for the day but i shall get on it tomorrow

[2016-02-10 20:24] NoahJaehnert commented on #5
Any update on the dashboard/Kibana4 front?

[2016-02-10 21:33] pevma commented on #5
:)
I am working on the dashboards this and next week.

[2016-02-10 21:38] NoahJaehnert commented on #5
Hooray. Thanks for the update. I'm happy to test if you need it.

[2016-02-10 21:51] pevma commented on #5
cool - will let you know.
Thanks!

[2016-02-11 07:56] arr0n commented on #12
So i edited the src/template/docker-compose.yml2 file as suggested, and in the src/config/logstash added a conf.d and put the logstash.conf file in there however whenever i use the setup command (i.e. amsterdam -d test -i wlan0 setup) it seems to deploy with the old config and old location.  I'm not sure what i'm missing or forgotten to do

[2016-02-11 08:10] regit commented on #12
@arr0n you need to install it with 'python setup.py install' as the copy is made from installation directory

[2016-02-11 08:58] arr0n commented on #12
@regit that worked thank you, i'll do a pull request now

[2016-02-11 09:12] arr0n commented on #12
@regit i've done a pull request (i think) hopefully it'll make sense

[2016-02-12 09:26] arr0n opened #14 "Elasticsearch staying yellow"
I've noticed that elasticsearch stays in a yellow status and doesn't change to green.  Apparently this is a common issue with the default deployment of it, and its due to how the default configuration handles nodes.  I managed to fix this by following this

"This is a common issue arising from the default index setting, in particularly, when you try to replicate on a single node. To fix this with

[2016-02-12 09:31] pevma commented on #14
This is how we do it with SELKS btw -
https://github.com/StamusNetworks/SELKS/blob/master/staging/config/hooks/chroot-inside-Debian-Live.chroot#L189

so i think it is safe to add that here as well.

[2016-02-12 10:35] regit commented on #12
PR applied, thanks!

[2016-02-12 10:35] #12 closed

[2016-02-22 19:38] Eagleman7 opened #15 "Unable to modify threshold.conf"
With SELKS I was able to modify threshold.conf so I was able to add supress rules. With Amsterdam however I am not.

I found 2 docker images with /etc/suricata.
One of them was on a read only file system, changing the other didn't reflect my changes.

How am I supposed to edit threshold.conf?

[2016-02-22 19:41] Eagleman7 commented on #5
Any updates on this? I just switched from SELKS to Amsterdam and I was missing the dashboards.

[2016-02-23 10:53] regit commented on #15
You need to edit the `threadhold.config` file in the `config/suricata` of your Amsterdam instance (below the directory given by the -d option).
Then you can or restart the Amsterdam instance or issue a docker command to restart suricata container (like `docker restart ams_suricata_1`).

[2016-02-23 11:07] Eagleman7 commented on #15
I used: docker exec -i -t ams_suricata_1 bash

Then i tried to edit /etc/suricata/threshold.config, after saving with :wq! (vim) i got an error about the file being read-only. ("threshold.config" E212: Can't open file for writing)

Where can I find the config/suricata folder? And you sure I need to edit the threadhold.config?

[2016-02-23 11:16] regit commented on #15
You are not supposed to connect to the containers. All the config files that are supposed to be useful are exposed on the host system and have to be edited from here.

Regarding the installation directory of the Amsterdam insance it is given by the `-d`option. For instance if you have ran `amsterdam -d selks start'. Then the instance directory is the selks directory under the current working direc

[2016-02-23 12:20] Eagleman7 commented on #15
Thank you for your explanation, I got it working now!

Maybe it would be nice to give us the ability to edit the threshold.config through scirius.

[2016-02-23 13:16] regit commented on #15
Hi,
Thresholding in scirius is definitely on the to-do list. It may come really soon.
Le 23 févr. 2016 1:20 PM, Eagleman7 notifications@github.com a écrit :Thank you for your explanation, I got it working now!

Maybe it would be nice to give us the ability to edit the threshold.config through scirius.

—Reply to this email directly or view it on GitHub.

[2016-02-25 18:12] mgaulton opened #16 "Stack addon"
I'd like to suggest that Bro IDS be added as part of the stack. I know how useful it is in real world.

[2016-02-25 18:14] Eagleman7 opened #17 "High I/O usage"
When running Amsterdam I am taking a huge hit on my datastore on:

[Picture](http://i.imgur.com/IKMsBPv.png)

I am not swapping to the disk:

How can I trace the high I/O usage back to a specific part of Amsterdam?

[2016-02-25 18:35] regit commented on #16
I'm not planning to add it in near future. We want to focus on Suricata for now even if Bro IDS is really interesting and useful too.

[2016-02-25 18:36] regit commented on #17
I would bet on Elasticsearch. You should be able to see which process is using I/O from the host. Then given the process command line you will see which one is responsible.

[2016-02-25 18:37] #15 closed

[2016-02-25 18:44] Eagleman7 commented on #17
Is it normal that Elasticsearch produces so much latency?

[2016-03-01 14:12] NoahJaehnert commented on #5
+1 - Any updates?

[2016-03-01 14:25] pevma commented on #5
Sorry for the delay.
I am working on putting all 130-140 visualizations into dashboard in the next couple of days and if everything works ok with the tests- will update git by week's end.

[2016-03-12 01:47] pevma commented on #5
I hope it was worthed the wait  - you can test those -
https://github.com/StamusNetworks/KTS

[2016-03-15 21:46] arr0n commented on #5
so pevma, from your post it says "Kibana 4.4.x needs to be patched in order to load the templates. If you have installed Kibana in /opt/kibana for example" <-- how does this work in the Amsterdam environment? My guess is that Kibana will need to be "built" with a Dockerfile (and the patches added that way) in the docker-compose.yml file.  Does that sound about right?

[2016-03-15 21:55] pevma commented on #5
yep ...sounds right  ...i think @regit is looking into it and is going to have some update on that soon.

[2016-03-15 22:00] arr0n commented on #5
okay dokie, if i get a chance tomorrow i'll try and do it and make a pull request

[2016-03-15 22:13] pevma commented on #5
that will be super! Thanks

[2016-03-16 09:31] arr0n commented on #5
So i've put into the kibana dockerfile the patching process, but the load.sh script requires connection to a live elasticsearch.  So how i see this working is, patch kibana in the dockerfile then either run the load.sh script on start up or do a 'docker exec -it kibana /bin/bash -c "source /tmp/KTS/load.sh"' once its up and running.

My guess is though, and you could stop me if i'm wrong but the i

[2016-03-16 09:31] arr0n commented on #5
also, is they're any harm by applying the patches but not running the load.sh to kibana too?

[2016-03-16 09:35] regit commented on #5
There is no harm: the patches have been forgotten by Elastics team and should have been part of kibana.

[2016-03-16 09:41] arr0n commented on #5
so what i've done is rewritten the kibana dockerfile in the src/docker folder.  It pulls in git, clones the KTS repo, patches kibana, does some sed to change the load.sh script from 127.0.0.1:9200 to elasticsearch:9200, took the original docker-entrypoint,sh script from kibana, added the load.sh script
to it.  This means it should load the visualisations/dashboards each run.

I'll give it a run th

[2016-03-16 09:43] regit commented on #5
On load.sh you can just give it elasticsearch:9200 as first argument and it will use that instead of localhost.
The tricky part that may be missing is that you need elasticsearch to be up and really running. I did not check load.sh code but maybe a retry policy would be needed.

[2016-03-16 09:57] arr0n commented on #5
lol, protip remember to docker rmi ams_kibana_1 before scratching your head to why your changes aren't in you test build ;)

[2016-03-16 10:23] arr0n commented on #5
as predicted load.sh tries to connect and fails, i'll put a delay in but i'm going to have to sign off this for today and pick it back up again tomorrow.

[2016-03-20 17:11] pevma commented on #5
@arr0n - you can try something like this:

 `counter=0`
`while ! echo exit | nc localhost 9200; do`
`counter=$((counter + 1))`
`echo  "Port 9200 is NOT listening/open !!";`
`echo  "The script will retry to connect 6 times - once every 10 sec";`
`echo  "and exit afterwords if not successful!"; echo;`
`if [ "$counter" -lt 6 ]; then`
`sleep 10`
`else`
`echo "Tried to connect 6 times already...exiting

[2016-03-21 10:27] arr0n commented on #5
hey @pevma cheers, i shall have a look at this later on today.  Thanks

A

[2016-03-28 18:00] xadcoh opened #18 "terminated by SIGSEGV (core dumped)"
Hi.
I've installed amsterdam 0.7 on two different machines
And sometimes suricata crashes(?) with log:

[code]

What am i doing wrong?

[2016-03-28 18:21] regit commented on #18
@xadcoh I think nothing. This is probably linked with know issues in Suricata and Debian. There is at least 2 of them causing crashes in suricata 3.0. @pevma should push soon packages update that will probably fix the crashes.
You will need to update amsterdam instance via update command.

[2016-03-29 08:15] xadcoh commented on #18
@regit glad to hear it. Will wait for updates. Thanks for your work, guys.

[2016-03-29 08:15] #18 closed

[2016-03-29 19:08] lcg79 commented on #5
Great work guys!  :clap::clap::clap:

Looking forward for those dashboards :stuck_out_tongue:

Thanks!

[2016-04-21 09:13] regit commented on #7
No update, closing.

[2016-04-21 09:13] #7 closed

[2016-04-21 09:14] #16 closed

[2016-04-21 09:15] regit opened #20 "Update full is not changing iface name"
Ethtool configuration for supervisor in suricata container is not updated after a full update.

[2016-05-10 10:44] Eagleman7 commented on #17
Can be closed

[2016-05-10 14:51] inliniac opened #26 "https access not working"
After doing a fresh install on Ubuntu 16.04, everything appears to be working except the https access. I can open the individual apps by going to http://localhost:8000 and the other ports.

[2016-05-11 09:08] pevma commented on #26
I just tried on Debian Jessie , the links as instructed here -
https://github.com/StamusNetworks/Amsterdam#usage
worked as expected in my case.

[2016-05-11 09:12] Eagleman7 commented on #26
If you installed with pip you are using an older version which is still working on port 8000. If you install with git this should work on port 80.

[2016-05-11 09:25] inliniac commented on #26
Yeah I installed from pip on ubuntu, using the instructions on the github page. If the problem is that this installs an old version, then either the pip version needs to be updated or the doc needs to be updated.

[2016-05-11 10:05] Eagleman7 commented on #26
@regit is it still on your todo list?

[2016-05-11 12:01] regit commented on #26
0.7 created and pushed.

[2016-05-11 12:01] #26 closed

[2016-05-11 12:02] #17 closed

[2016-05-18 08:06] regit commented on #5
Implemented in git. It will be part of next release.

[2016-05-18 08:06] #5 closed

[2016-05-18 08:08] regit commented on #3
@mgaulton: I'm closing it as I'm not seeing anybody that reproduce that. Feel free to reopen it if needed.

[2016-05-18 08:08] #3 closed

[2016-05-18 09:39] regit commented on #20
Fixed by be770a12bf87bfc14e1c6d5e7cac9089cb1d0238

[2016-05-18 09:39] #20 closed

[2016-05-20 11:25] Eagleman7 opened #28 "Integrate manage.py (scbackups/screstore/listbackups) and curator with the "amsterdam" commands"
Give us the ability to backup, restore and listbackups and manage elasticsearch data with the amsterdam command.

Now we have to execute:

docker exec amsterdam_scirius_1 python /opt/selks/scirius/manage.py scbackup
docker exec amsterdam_scirius_1 python /opt/selks/scirius/manage.py screstore
docker exec amsterdam_scirius_1 python /opt/selks/scirius/manage.py listbackups

docker exec amsterdam_ela

[2016-05-20 11:37] Eagleman7 opened #29 "Add init/upstart/systemd services for Amsterdam"
We need the ability to easily stop and start Amsterdam with the operating system. Please add init/upstart/systemd services for Amsterdam.

[2016-05-20 14:01] regit commented on #14
Fixed in Amsterdam 0.8.

Note: you need an instance with no data at start to get it green

[2016-05-20 14:01] #14 closed

[2016-05-26 09:31] Eagleman7 opened #30 "Timelion not working"
When I open Timelion I am getting a blank page.

This are the errors in the console:

Failed to load resource: the server responded with a status of 400 (BAD REQUEST)

Error: [illegal_argument_exception] mapper [hits] cannot be changed from type [long] to [int]
    at respond (timelion.bundle.js?v=9892:35254)
    at checkRespForFailure (timelion.bundle.js?v=9892:35217)
    at timelion.bundle.js?v=

[2016-05-26 09:37] Eagleman7 opened #31 "HTTP 404 when updating ruleset"
Sometimes when updating the rules I am getting:
502 Bad Gateway

nginx/1.11.0

This happens on this page:

https://ips.corp.domain.com/suricata/update

[2016-05-26 10:52] regit commented on #30
It should be fixed via new version of scirius that contains a workaround. To got the fix working in a existing instance, you need to:
- update the instance via amsterdam
- delete the .kibana index in ES
- In scirius: go to settings->kibana then reset

[2016-05-27 11:59] regit commented on #31
Looks more like a 502 ;)

Do you have an idea of how long it takes to update the ruleset ?

[2016-05-27 11:59] #29 closed

[2016-05-27 13:24] #30 closed

[2016-06-17 14:45] infiniteproject commented on #31
#37

[2016-07-04 20:32] arr0n opened #38 "scirius and user accounts"
maybe i'm being stupid, which is possible of course, but how to you make accounts for scirius permanent.  Now that you have to login to kibana via it, i'd like to set something that sticks rather than it disappearing every time the containers start.

Have i just overlooked something, or is there a config i can supply with pass details in it?

[2016-07-04 20:42] regit commented on #38
Hello @arr0n, I've just done a check and got the expected result:
- Add a new user in scirius
- Log in as the new user
- Stop amsterdam (CTRL+C on console)
- Check with `docker ps` that no container is running
- Start amsterdam: amsterdam -d ams start
- Restart browser and connect as the new user

Did you do something different ?

[2016-07-04 20:57] arr0n commented on #38
so i add new user, logout and login as the new use.  Bring down
Amsterdam, then start it again.  The account is gone.  Its almost like
there is no persistence in scirius when it comes to accounts.

Out of interest, why would i need to restart the browser?

A

On 07/04/2016 10:42 PM, Eric Leblond wrote:

[2016-07-04 21:07] regit commented on #38
I did restart browser restart to be sure that all was restarted. Not necessary for sure.

What version are you using ? Are other things like ruleset kept ?

[2016-07-07 14:52] kedf commented on #31
Hi,
Same issue here but for me it's every time and increasing timeout don't resolve it.
I'm getting 502 error always after 30s.

error log from ams_nginx_1 (/var/log/nginx/stamus.error.log)
 `2016/07/07 14:35:47 [error] 6#6: *28 upstream prematurely closed connection while reading response header from upstream, client: 10.47.0.2, server: amsterdam, request: "POST /suricata/update HTTP/1.1", upstre

[2016-07-18 16:34] xadcoh opened #39 "System stops working after a few weeks"
Hi.

I've deloyed amsterdam 1.0 and it runs good for a while, but after a few weeks it's just stop responding (i mean web interface shows no activity). Evebox loading endlessly, scirius shows "Fetching data". Elasticsearch become red. Eve Insert rate is about 20 (but when it works good its about 100) Some log:

[code]

Configuration is:
SW:
Debian Jessie 8.5 x86_64
HW:
core i3-3220
16Gb RAM
2x500G

[2016-07-18 19:34] infiniteproject commented on #39
Increase ES_HEAP_SIZE in docker-compose.yml.

[2016-10-09 14:54] francoisbegin opened #40 "Setup fails - API conflict on 16.04"
On a clean install of 16.04, following installation instructions, I get a conflict between client API and server API.

root@ubuntu1604VM:/home/fbegin1# docker -v
Docker version 1.11.2, build b9f10c9

root@ubuntu1604VM:/home/fbegin1# amsterdam -d ams -i enp0s3 setup
Traceback (most recent call last):
  File "/usr/local/bin/amsterdam", line 46, in <module>
    ams = Amsterdam(args.name, args.iface,

[2016-10-09 14:57] francoisbegin commented on #40
More details -- docker version does not show this conflict:

root@ubuntu1604VM:/home/fbegin1# docker version
Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.6.2
 Git commit:   b9f10c9
 Built:        Thu, 16 Jun 2016 21:17:51 +1200
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.6.2
 Git commit:   b9f10c9
 Built:        Thu, 16 J

[2016-10-09 16:24] francoisbegin commented on #40
Hum... Another case of Ubuntu being great for stability but not so much for keeping up with projects that iterate quickly. Solved the issue by purging the official Docker package and instead installing the latest Docker with
wget -qO- https://get.docker.com/ | sh

[2016-10-09 16:24] #40 closed

[2016-10-10 15:02] Eagleman7 commented on #31
timeout has been increased, no more 502 when updating

[2016-10-10 15:02] #31 closed

[2017-01-14 18:02] badr-badri opened #41 "Error in src/amsterdam.py"
Hello,

There is an error in this file src/amsterdam.py in this line "from docker import Client". It's a small 'c' letter not a capital one.

[2017-01-14 18:06] regit commented on #41
What version of dockerpy do you have ?

[2017-01-14 18:09] ghost commented on #41
I'm using 1.8.0 version

[2017-01-14 18:15] ghost commented on #41
Your code should be changed anyway cause the recent version of docker-py has changed the name of docker.client to docker.APIClient
https://github.com/docker/docker-py/releases

[2017-01-16 20:33] regit commented on #41
Could you post the traceback of the error? I'm having issue reproducing the problem and I don't find reference to with lower case client in the 1.8.0 doc.

[2017-01-19 20:51] ghost commented on #41
If you use ubuntu 16.10 or the latest docker image of ubuntu, they both use 1.8.0. And if you try to import docker.Client, you'll see that it does not exist, only the lower case exist.

[2017-01-23 08:17] regit commented on #41
I pushed to master a patch that could correct things but I don't manage to reproduce the issue.

[2017-02-22 14:23] redhandpl opened #42 "Internal Server Error"
Hi,

I've installed the latest version of Amsterdam and have containers running. When accessing localhost I can see everything. The problem is when accessing remotely by IP address. I get "Internal Server Error".

Do I have to configure additionally something?

[2017-02-22 14:31] regit commented on #42
Yes but it should be documented. You need to add ALLOWED_HOSTS in `config/scirius/local_settings.py` See https://docs.djangoproject.com/en/1.10/ref/settings/#allowed-hosts for complete information.

To authorize from anywhere, add that to the end of local_settings.py and restart amsterdam:
[code]

[2017-02-23 07:43] redhandpl commented on #42
Ah, the django variable. Thanks. It works.

[2017-02-23 07:43] #42 closed

[2017-02-27 21:09] michaelseto opened #43 "Just doesn't work"
First issue - you did not define any of the prerequisites that you will need in your documentation before installing via pip - ESPECIALLY - the 1.9.0 version of docker-compose (otherwise you get a client error)

Second issue - after all the prereq's were done, I *finally* was able to get through an install via pip. However, when attempting to access via browser, it gives an 'Internal Server Error'

[2017-02-28 08:15] regit commented on #43
1. Please give us more information (distribution) or even propose a patch or a wiki edit describing what you had to do.

2. https://github.com/StamusNetworks/Amsterdam/issues/42

3. The Suricata in Amsterdam is sniffing an ethernet interface so it will monitor multiple servers if it receive the traffic of multiple servers. So you have to configure your switch or use a tap device to monitor multipl

[2017-02-28 15:52] michaelseto commented on #43
sudo wget https://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-9.noarch.rpm
sudo rpm -Uvh epel-release-7-9.noarch.rpm
sudo yum check-update
sudo yum install -y python-pip
sudo pip install --upgrade pip
sudo pip install pyopenssl
sudo yum groupinstall 'Development Tools'
sudo yum install -y python-devel
sudo pip install --upgrade pyopenssl
sudo curl -fsSL https://get.docker.com/ | sh
sud

[2017-02-28 18:00] michaelseto commented on #43
You've got proxy_pass set to localhost @ 8000 in nginx, but what if this is sitting behind an external load balancer and needs to reverse proxy to another load balancer which has web servers? Will this still function correctly if the proxy_pass is changed to the load balancer in front of web servers?

[2017-02-28 21:44] michaelseto opened #44 "Error installing from setup"
[admin@myserver Amsterdam-master]$ amsterdam -d ams -i eth0 setup
Traceback (most recent call last):
  File "/usr/bin/amsterdam", line 4, in <module>
    __import__('pkg_resources').run_script('amsterdam==1.2', 'amsterdam')
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 738, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/usr/lib/python2.

[2017-03-01 13:08] pevma commented on #44
What OS is that on ?

[2017-03-01 13:39] regit commented on #43
I really don't understand what you are trying to do. What is your target architecture ?

[2017-03-01 13:40] regit commented on #44
Looks like you don't have the right to talk to docker as admin user.

[2017-03-01 13:40] #44 closed

[2017-03-01 13:41] regit commented on #41
No news. Closing the bug. Please reopen if needed.

[2017-03-01 13:41] #41 closed

[2017-03-01 16:33] michaelseto commented on #43
A load balanced IDS acting as a reverse proxy to a different load balancer that load balances web servers.

[2017-03-01 16:33] michaelseto commented on #43
(Load Balancer)-[IDS][IDS]>{REVERSE PROXY}>(Load Balancer)-[WEB01][WEB02]

Make sense?

[2017-03-01 16:46] regit commented on #43
I think 'no' is a politically correct answer.

IDS is just snffing packet passively at the Ethernet like wireshark so it can not be put in the middle. You may use Suricata in IPS mode but it is layer 2 or 3 so it will not interact cleanly with Load Balancer.

[2017-03-01 16:47] michaelseto commented on #43
This is in MS Azure, not on prem, so there are considerations around that.

[2017-03-01 16:48] michaelseto commented on #43
Can't you just sniff eth0 with Suricata and use nginx as a reverse proxy to the load balancer for the web servers?

[2017-03-01 16:51] jasonish commented on #43
I think you need to understand the use of Nginx within Amsterdam.  Its just for the administrative features that you get with Amsterdam and doesn't really have much to do with the IDS/NSM/IPS features of Amsterdam. Amsterdam listens on an interface, getting the traffic to that interface is up to you.  That may involve load balancers and reverse proxies, but that will be dependent on your setup, an

[2017-03-01 16:55] regit commented on #43
Agree with @jasonish but as a really weird usage you could configure nginx in Amsterdam to do 2 redirections (one for the Asmterdam GUI, one for your load balancing) and if packet does not go out from nginx from the same interface then you possibly have something working. Really really weird anyway and not supported.

[2017-03-01 17:00] michaelseto commented on #43
Let me reiterate what exactly I have and what I am trying to do.

I have an EXTERNAL load balancer with a public IP, this load balances public facing web servers. I want to set up some intrusion detection to spot any hack attempts, etc.

This is in Azure, so it's not like I can set anything up like it's on prem. I can't go plug something into a switch, etc.

So, my understanding is that Suricata s

[2017-03-01 17:14] jasonish commented on #43
You should be able to do what I've seen done in AWS before, but it really doesn't have anything to do with Suricata or Amsteram.

First, I doubt Azure is going to let you put a VM in front of their load balancers.  You could check their documentation or with their support to find out for sure though. So what I suggest would be to NOT use Azure load balancers. Since you would be setting up a choke

[2017-03-02 17:26] michaelseto commented on #43
Should the sciriusstatic and sciriusdata containers be constantly running? It seems they build but only the scirius container stays running.

[2017-03-02 21:49] michaelseto opened #45 "Scirius - Internal Server Error"
I am running the Scirius container and added ports 8000:8000 to the compose file. The container is running, and I have configured nginx to forward requests on port 8001 to 8000. I go to the web browser and do http://my_url:8001 - it returns 'Internal Server Error'

[2017-03-02 22:08] michaelseto commented on #45
The reason why I added the ports section to docker-compose for Scirius is because I noticed after the container started, it doesn't say it's listening on any ports.

[2017-03-07 04:39] michaelseto commented on #45
Anything to try?

[2017-03-08 07:40] regit commented on #45
I don't understand what you are trying to achieve. Scirius/gunicorn is local only and should be contacted via nginx. Also due to authentication, you may really want to https.

[2017-03-13 10:21] redhandpl opened #46 "Managing logs"
Hi,

In SELKS there is a https://github.com/StamusNetworks/SELKS/wiki/Logrotate. How do you manage logs here?
Is it good idea to manage them through the main host and SIGHUP with 'docker exec'?

[2017-03-13 22:16] regit commented on #46
It is currently not done in Amsterdam. Logs are present in the data directory under suricata/ for the JSON so it should be possible to logrotate them from the host and send a signal to suricata to warn it about logrotation.

[2017-03-14 09:51] redhandpl commented on #46
Are planning to manage logs in Amsterdam?
For now I will try to rotate the from the host.

[2017-03-14 09:51] #46 closed

[2017-03-28 16:44] austin-taylor commented on #45
Also receiving this error with a fresh ubuntu installation following the instructions in the readme.

[2017-03-28 19:51] austin-taylor commented on #45
I'm using Ubuntu 16.04.2 LTS and I notice the docker container is using python3 could that be causing the issue?

[2017-03-28 20:01] pevma commented on #45
Might be.
Can you confirm with python 2.(7)x ?

[2017-03-28 20:24] austin-taylor commented on #45
How can I start the container using Python2?

[2017-03-28 20:50] austin-taylor commented on #45
Also, each service appears to have it's own host inside the docker container? Is this expected behavior? For example: `evebox_1         | 2017-03-28 20:37:30 (server.go:189) <Error> -- Failed to ping Elastic Search: : Get http://elasticsearch:9200/: dial tcp <docker ip>:9200: getsockopt: connection refused` Should we replace elasticsearch with localhost?

[2017-03-28 22:35] regit commented on #45
Hi @austin-taylor , evebox is starting too fast compared to Elasticsearch so it detect Elasticsearch as dead when starting. But it will try to reconnect and when ES will be up it will succeed to get data from it.

[2017-03-28 22:39] regit commented on #45
@austin-taylor On the error 500 you may face this problem: https://github.com/StamusNetworks/Amsterdam/issues/42

[2017-03-29 00:02] austin-taylor commented on #45
Spot on @regit Thank you for the quick reply!

Might be worth adding that to the README or put it in the config with a comment. Happy to submit a PR 👍

[2017-03-29 00:35] austin-taylor opened #47 "Run PCAP through SELKS"
Not sure if this is the appropriate forum for this, so please feel free to redirect me.

I'm trying to run PCAP through the docker image for SELKS, but the suricata.yaml file shows regular suricata settings...

Is there a way to reference the docker image to run suricata... In other words, If I run amsterdam -d ams start it will start suricata just fine, but I want to run PCAP through the docker s

[2017-03-31 07:25] pevma commented on #47
You can use unix-socket to send the pcaps to Suricata for processing.

I think you also would need to mount the pcaps from a directory.

[2017-04-01 06:13] austin-taylor commented on #47
Thank you @pevma

[2017-04-01 06:13] #47 closed

[2017-04-03 13:35] pevma commented on #45
@austin-taylor you are welcome to submit a PR :).
Thanks for the help

[2017-04-03 16:15] michaelseto commented on #45
@regit It isn't clear what I am trying to achieve? I am trying to achieve accessing Scirius from a web browser - which I am having problems doing. Is the Scirius GUI not supposed to be accessed in this solution?

[2017-04-03 16:18] austin-taylor commented on #45
Will submit a PR to resolve.  Thanks again!

[2017-05-02 21:52] mslayton-abra opened #49 "not working, alas"
Really love the idea of Amsterdam, but the install has been a problem.
I'm probably just missing a large collection of things obvious to people
who are closer to the project.

Install took quite awhile to get through.  Many missing and sometimes
circular dependencies.   I think I have it installed properly now (at least
the setup.py runs to completion without errors).

However, when I run the conf

[2017-05-02 22:22] regit commented on #49
Is docker started ? Do you get something if you run `docker ps` ?

[2017-05-02 23:21] mslayton-abra commented on #49
Yes, this was my problem.  Docker needs to be running, obviously.   Thanks --

[2017-05-03 00:38] mslayton-abra commented on #49
I seem to have running processes now, and I can get a response from <my_ip>:9200.
(ElasticSearch produces a json response).

However, all other ports refuse to respond, e.g. when I go to:   https://<my_ip>/
I get a 'connection refused'.

I noticed that none of the components appear to be able to speak to each other.
For example, the proxy_forward directive in nginx config points to:  http://sciriu

[2017-05-03 18:23] mslayton-abra commented on #49
It seems that the nginx container run by amsterdam never binds to any ports, at least in my case, which runs on centos7 and has no customizations.

nginx is running within the container, but isn't listening on any ports, and doesn't produce any log messages.  I'm guessing there is some config issue with the container.

I'll post again when I've gotten to the bottom of it.   Others may be seeing th

[2017-06-08 14:29] 007scorpio opened #50 "No dashboards after login under scirius menu"

[2017-06-09 09:53] pevma commented on #50
Hi,
Do you have any errors with that? Is ES up and running?

[2017-09-22 08:29] monokal opened #52 "Guidance - suricata.yaml\\\" caused \\\"not a directory\\\"\"""
Hey,

I'm working on some changes to the repo in order to open a PR, namely getting Amsterdam itself to run in a container and therefore requiring no littering of the underlying host. I'm very close, however, Amsterdam is having an issue with the suricata service in particular as per the below error:

[code]

Other containers start up just fine. Any ideas?

[2017-09-22 08:55] monokal commented on #28
I can pick this up once #52 is sorted.

[2017-09-22 15:20] regit commented on #52
Looks like mounting a file is not working in this case. It looks like it appaears in some cases: https://forums.docker.com/t/unable-to-mount-directories-files-from-docker-compose-oci-runtime-error-not-a-directory/10808/5
What OS and docker version are you using ?

[2017-10-27 09:46] liar666 opened #53 "Using Python 2 only?"
Hi,

After installing a clean python3 virtualenv I get:

~$ amsterdam -d ams-test -i wlan0 setup
Traceback (most recent call last):
  File "/home/gmuller/amsterdam-test/bin/amsterdam", line 46, in <module>
    ams = Amsterdam(args.name, args.iface, basepath)
  File "/home/gmuller/amsterdam-test/lib/python3.6/site-packages/amsterdam/amsterdam.py", line 47, in __init__
    self.check_environment()

[2017-10-27 11:21] liar666 commented on #53
I've reinstalled everything with python2.7.

I can confirm this is a requirement. Would be great to specify that somewhere.

Also, when I ran
[code]

After some research, I found that you're using theold docker API. The solution is to remove recent one:
[code]

Would be great (at least for newbies like me) if that could be written somewhere.

[2017-11-12 06:10] tsikerdekis commented on #53
I am getting a subsequent error based on this guide and I was wondering anyone encountered it as well.

 amsterdam -d ams-test -i wlo0 setup
  File "/usr/local/lib/python2.7/dist-packages/requests/packages/urllib3/util/timeout.py", line 127, in _validate_timeout
    "int or float." % (name, value))
ValueError: Timeout value connect was Timeout(connect=60, read=60, total=None), but it must be an in

[2017-11-28 05:04] iBreaker commented on #53
➜  /data/compare-traffic3 amsterdam -d ams -i ens9f3 setup
Traceback (most recent call last):
  File "/usr/bin/amsterdam", line 46, in <module>
    ams = Amsterdam(args.name, args.iface, basepath)
  File "/usr/lib/python2.7/site-packages/amsterdam/amsterdam.py", line 47, in __init__
    self.check_environment()
  File "/usr/lib/python2.7/site-packages/amsterdam/amsterdam.py", line 119, in check_en

[2017-11-28 23:51] Drewshg312 opened #54 "Which architectures are supported?"
Hi!
First of all thanks for this project! It's really cool and useful!
Sorry, newbie here, so maybe this issue is more like a feature request...
I haven't found clear info, so my question:  could I run it on something like raspberry pi?
That would be really cool adding the support for arm.
Thank you.

[2017-11-30 09:48] pevma commented on #54
I have not tried it but i think you should give it a try.
Suricata has packages for arm etc... havn't done any other research with regards to the ELK stack.
Not sure if the memory on raspberry pie would be enough for the ELK ?

[2017-11-30 09:55] pevma commented on #53
What OS are you guys using ?

[2017-11-30 10:02] #49 closed

[2017-11-30 20:55] drew1kun commented on #54
I am asking, because I'm planning to build small (4 node rpi3) cluster running dockerized SELKS.
but I am affraid It will return something like:
[code]

[2017-12-04 14:58] pevma commented on #54
Is there any more verbose info about the error ?

[2018-06-25 08:36] tee2015 opened #57 "Error on the command pip install amesterdam"
Hi Stamus dev's and community,

While setup amesterdam I am getting module error on line 26
from OpenSSL import crypto
ImportError: No module named OpenSSL

Any Ideas to solve the issue will be appreciated.

[2018-06-25 14:47] mostafa commented on #57
requirements:
[code]

[2019-03-24 16:42] michal25 opened #58 "amsterdam install not works on Ubuntu desktop 18.04 64 bit"
# pip install amsterdam
Collecting amsterdam
  Using cached https://files.pythonhosted.org/packages/ac/f2/13c4dab827cd19271aca2786d712ba203da276d09d96804b3bcdcf36613a/amsterdam-1.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-62cdWj/amsterdam/setup.py", line 3, in <modu

[2019-03-26 08:20] pevma commented on #58
I think Amsterdam needs an overhaul.
CC @regit

[2020-01-28 04:41] biote3h commented on #57
a requirement.txt would helps.

[2020-06-18 12:32] saneysrikanth commented on #58
sudo apt-get install docker.io python-pip
pip install docker-compose==1.9.0
sudo pip install amsterdam

Try the above steps @michal25

[2020-07-28 00:35] #57 closed

[2020-10-05 18:55] mgaulton opened #59 "Python3 Support"
I'm guessing this project is in need of an update, some of the required libs aren't even available under python2 on my distro now.
Any change of an update in the future?